<style>
    .message_content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 24px;
    }
</style>

<div class="message_content">
    <p>Hi {{name}}!</p>
    <br/>
    <p>Rest password request.</p>
    <p>If you make the request, click down for reset your password</p>
    <p>
        <a href="{{link}}">Reset my password</a>
    </p>
    <p>If you don't make this request, ignore this email</p>
    <br/>
    <p>Tanks Sales Api</p>
</div>
